.section-projects {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  background: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 8rem 2rem;
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%);

  @media only screen and (max-width: 750px) {
    clip-path: polygon(0 0, 50% 1.5%, 100% 0, 100% 98.5%, 50% 100%, 0 98.5%);
    padding: 8rem 1rem;
  }
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  @media only screen and (max-width: 750px) {
    justify-content: center;
  }
}

.projects__heading {
  font-family: $font-heading;
  color: $color-white;
  text-shadow: 2px 2px $color-black;
  margin-bottom: 1.4rem;
  font-size: 2rem;
}

// Card
.project-card {
  width: 100%;
  max-width: 320px;
  height: 380px;
  background: $color-white;
  border-radius: 3px;
  box-shadow: 0 0 5px $color-black;
  transition: transform 0.1s ease-in-out;
  position: relative;
  margin-bottom: 2.5rem;
  margin-right: 1.4rem;

  @media only screen and (max-width: 750px) {
    margin-right: unset;
  }

  &:hover {
    transform: scale(1.03);
  }

  &__image-box {
    display: block;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent 70%, $color-white);
      z-index: 10;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  &__content-box {
    width: 100%;
    padding: 1rem;
  }

  &__content {
    padding-top: 1rem;
  }

  &__links {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    & > a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited,
    &:active {
      color: $color-secondary-dark;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      color: $color-secondary;
    }

    &::before {
      content: "[";
      padding: 0 0.15em 0 0;
    }
    &::after {
      content: "]";
      padding: 0 0 0 0.15em;
    }
  }
}
