@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Poller+One");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 49%; } }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: "Roboto", sans-serif;
  background-color: #e0dbbe; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 8rem;
  padding: 1.5rem 3rem;
  background-color: #233340;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.game {
  background-color: #e0dbbe;
  padding: 2rem 3rem;
  flex-grow: 1;
  max-width: 75%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1000px) {
    .game {
      max-width: 90%;
      padding: 1rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .game {
      max-width: 100%;
      padding: 0.5rem 0.5rem; } }

.footer {
  background-color: #9c8d8a;
  padding: 0.75rem 1.5rem; }

.header__brand {
  font-family: "Poller One", cursive;
  color: #f7f9f4;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed currentColor; }

.control__button {
  border: none;
  background-color: #679595;
  padding: 1rem 2.5rem;
  border-radius: 50rem;
  color: #f7f9f4;
  font-size: 1.3rem;
  font-weight: bold;
  border: 3px solid transparent;
  transition: border 0.3s, transform 0.1s;
  cursor: pointer; }
  .control__button:hover {
    border: 3px solid #e0dbbe; }
  .control__button:active {
    transform: scale(0.9); }

.copyright {
  color: #040506; }

.card {
  margin: 1rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  perspective: 25rem;
  cursor: pointer;
  border-radius: 3px;
  flex: 0 0 12rem;
  transition: opacity 0.3s; }
  @media only screen and (max-width: 1000px) {
    .card {
      width: 10rem;
      height: 10rem; } }
  @media only screen and (max-width: 600px) {
    .card {
      width: 6rem;
      height: 6rem; } }
  .card__side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0);
    color: #040506;
    backface-visibility: hidden;
    box-shadow: 0 2px 12px rgba(4, 5, 6, 0.8);
    transition: transform 0.5s, width 0.3s ease-in 2s, height 0.3s ease-in 2s; }
    .card__side--front {
      background-color: #f7f9f4;
      color: #9c8d8a;
      font-size: 9rem;
      transform: rotateY(-180deg);
      overflow: hidden; }
      @media only screen and (max-width: 1000px) {
        .card__side--front {
          font-size: 7rem; } }
      @media only screen and (max-width: 600px) {
        .card__side--front {
          font-size: 5rem; } }
    .card__side--back {
      background-image: linear-gradient(to right bottom, #233340, #040506);
      color: #f7f9f4; }
  .card--clicked .card__side--front {
    transform: rotateY(0); }
  .card--clicked .card__side--back {
    transform: rotateY(180deg); }
  .card--completed .card__side {
    height: 0;
    width: 0; }
  .card--completed {
    cursor: auto;
    opacity: 0; }
  .card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  z-index: 9999; }
  .blocker--on {
    width: 100%;
    height: 100%; }

.red {
  color: red; }

.blue {
  color: blue; }

.purple {
  color: purple; }

.cyan {
  color: cyan; }

.yellow {
  color: yellow; }

.green {
  color: green; }
