// COLORS
$color-primary: #415a77;
$color-primary-light: #6e8db0;
$color-primary-dark: #1d2835;

$color-secondary: #60492c;
$color-secondary-light: #7c6a52;
$color-secondary-dark: #382a1a;

$color-alt: #028090;
$color-alt-light: #8cc5cc;
$color-alt-dark: #026976;

$color-black: #0a0a11;
$color-white: #fcf5f0;

// FONT
$font-text: "Open Sans", sans-serif;
$font-heading: "Arvo", serif;
